# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Generated launcher icon
assets/icon.png
